*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inizio header*/
.logo{
    vertical-align: middle;
    margin-left: 20px;
}
.title{
    font-size: 50px;
    vertical-align: middle;
    line-height: 80px;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    color: #051931;
}
/* fine header */

/* inizio main */